.well-done {
    padding-top: 6%;
    font-weight: 700;
    font-size: 48px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.18px;
    color: #FFFFFF;
}

.winner {
    padding-top: 3%;
    font-weight: 700;
    font-size: 72px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.18px;
    color: #FFFFFF;
}

.player-winner-logo {
    position: absolute;
    width: 332px;
    height: 232px;
    left: 554px;
    top: 200px;
}

.result-cards {
    display: grid;
    margin-top: 20%;
    justify-content: center;
    align-content: center;
}

.play-again-button-leaderboard {
    display: grid;
    margin-top: 5%;
    margin-left: 5%;
    justify-content: center;
    align-content: center;
}