.reset-game-button {
  top: 2%;
  right: 14%;
  width: 152px;
  height: 50px;
  background: #f4a236;
  position: absolute;
  color: #ffffffff;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
