* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.page {
  background-image: url("/public/images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
